name: Deploy Lambda Functions (DEV)
on:
  push:
    # branches: [main]
    paths: 'infra/lambdas/**'

permissions:
  id-token: write # This is required for requesting the JWT

jobs:
  DeployLambdas:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ACTIONS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Interpolate CloudFormation params
        run: |
          cd ./src
          npm run ci:interpolate ${{ github.workspace }}/infra/lambdas/parameters/dev.json
        env:
          DB_PASSWORD_SECRET_NAME: ${{ secrets.DB_PASSWORD_SECRET_ID }}
          DB_ENDPOINT: ${{ secrets.DB_ENDPOINT }}
          SUBNET_ID: ${{ secrets.LAMBDA_SUBNET_ID }}
          SECURITY_GROUP_ID: ${{ secrets.LAMBDA_SECURITY_GROUP_ID }}
      - name: Deploy stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: DevLambdas
          template: ${{ github.workspace }}/infra/lambdas/template.yml
          parameter-overrides: file://${{ github.workspace }}/infra/lambdas/parameters/dev.json
    
