name: Deploy Lambda to S3 (DEV)
on:
  workflow_dispatch:
    inputs:
      lambdaKey:
        required: true
        type: choice
        options:
          - curryhouses/get
      lambdaName:
        required: true
        type: choice
        options:
          - DevCurryhouses

permissions:
  id-token: write # This is required for requesting the JWT

jobs:
  DeployDevS3:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ACTIONS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install AWS CLI
        run: pip install awscli
      - name: Install packages
        run: cd src && npm install
      - name: Transpile lambdas
        run: |
          cd src
          npm run db:generate
          npm run transpile ./lambdas/${{ inputs.lambdaKey }}/index.ts ./dist/index.js
      - name: Zip lambda
        run: |
          cd ./src/dist
          zip -r ./index.zip .
      - name: Write zipped lambda to S3
        run: |
          cd ./src/dist
          aws s3 cp index.zip s3://dev-currycompare-api-lambdas/${{ inputs.lambdaKey }}/index.zip
      - name: Update lambda code
        run: aws lambda update-function-code --function-name Dev${{ inputs.lambdaName }} --s3-bucket my-bucket-name --s3-key my-function.zip

