name: Deploy API Gateway (DEV)
on:
  push:
    branches: [main]
    paths: 'infra/api-gateway/**'
permissions:
  id-token: write # This is required for requesting the JWT
jobs:
  DeployDevAPIGateway:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ACTIONS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Deploy stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: DevApiGateway
          template: ${{ github.workspace }}/infra/api-gateway/template.yml
          parameter-overrides: file://${{ github.workspace }}/infra/api-gateway/parameters/dev.json
        
