name: Deploy API Gateway (DEV)
on: [push]
permissions:
  id-token: write # This is required for requesting the JWT
jobs:
  DeployDevAPIGateway:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Clone the repo
        uses: actions/checkout@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ACTIONS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: test file read permissions
        run: cat ${{ github.workspace }}/infra/templates/api-gateway.yml
      - name: Deploy stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: DevApiGateway
          template: ${{ github.workspace }}/infra/templates/api-gateway.yml
          parameter-overrides: file://infra/parameters/api-gateway/dev.json
        
