name: Linter
on: push
jobs:
  RunUnitTests:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
      - name: Install Packages
        run: |
          cd src
          npm install
      - name: Run ESLint
        run: |
          cd src
          npm run lint:check