name: Migrate Database (DEV)
on: push
permissions:
  id-token: write # This is required for requesting the JWT
jobs:
  DeployDevCognito:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ACTIONS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Get database password from AWS
        uses: aws-actions/aws-secretsmanager-get-secrets@v1
        with:
          secret-ids: |
            DB_MASTER_PASSWORD, ${{ secrets.DB_PASSWORD_SECRET_ID }}
      - name: Install Dependencies
        run: |
          cd src
          npm install
      - name: Set DATABASE_URL mask
        run: |
          cd src
          npx ts-node utils/buildDatabaseURL/addDatabaseUrlMask.ts
      - name: Build and set DB URL
        run: |
          cd src
          DATABASE_URL=$(npx ts-node utils/buildDatabaseURL/index.ts)
          echo "DATABASE_URL=$DATABASE_URL" >> $GITHUB_ENV
        env:
          DB_MASTER_USERNAME: ${{ secrets.DB_MASTER_USERNAME }}
          DB_ENDPOINT: ${{ secrets.DB_ENDPOINT }}
      - name: Migrate Database
        run: |
          cd src/prisma
          npx prisma migrate deploy