name: Trigger Lambda Deployments (DEV)
on:
  push
    # branches: [main]
    # paths: 'src/lambdas/**'
permissions:
  id-token: write # This is required for requesting the JWT
jobs:
  TriggerLambdaDeployments:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
      - name: Change directory to src
        run: cd src
      - name: Trigger lambda deployments
        env:
          PULL_REQUEST_ID: ${{ github.event.number }}
        run: ls && pwd && npm run deploy:lambdas
        
